<form
        action="https://formsubmit.co/49f120962618ac269b0179357f2a2502"
        method="post"
        class="form-email"
      >
        <div id="assunto">
          <label for="assunto">Assunto:</label>
          <select name="assunto" title="Assunto">
            <option value="Suporte">Suporte</option>
            <option value="Sugestões">Sugestões</option>
            <option value="Reclamação">Reclamação</option>
            <option value="Dúvidas">Dúvidas</option>
          </select>
        </div>
        <div id="nomecompleto">
          <label for="NomeCompleto">Nome Completo:</label>
          <input type="text" name="nome" placeholder="Seu nome aqui" />
        </div>
        <div id="Email">
          <label for="email">E-mail</label>
          <input
            type="email"
            name="email"
            placeholder="Seu e-mail aqui"
            id="email"
            required=""
          />
        </div>
        <br />
        <div id="Mensagem">
          <label for="mensagem">Mensagem:</label>
          <br />
          <textarea
            name="mensagem"
            id="mensagem"
            cols="40"
            rows="10"
            placeholder="Sua mensagem aqui"
            required=""
          ></textarea>
        </div>
        <button type="submit" class="basket" title="send" >
          <img src="paper-plane.png" alt="" class="logoNav">
        </button>
      </form>